{%
    set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}

    {% if header %}
        <header>
            {{ header }}
        </header>
    {% endif %}

    {{ exposed }}
    {{ attachment_before }}

    {% if rows -%}
        <div class="flex flex-col gap-16 py-16">
            <h1 class="text-4xl text-adsy-tottenham-blue font-semibold">Articles</h1>
            {{ rows }}
        </div>
    {% elseif empty -%}
        {{ empty }}
    {% endif %}
    {{ pager }}

    {{ attachment_after }}
    {{ more }}

    {% if footer %}
        <footer>
            {{ footer }}
        </footer>
    {% endif %}

    {{ feed_icons }}
</div>
