<article{{ attributes }}>

    {{ title_prefix }}
    {% if label %}
        <h1 class="text-uppercase fw-bold fw-rubik text-bg-primary p-2 mb-2">
            {{ label }}
        </h1>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
        <div{{ author_attributes }} class="fst-italic">
            {% trans %}Submitted on{% endtrans %} {{ node.getCreatedTime()|date("d/m/Y") }}
            {{ metadata }}
        </div>
    {% endif %}

    <div{{ content_attributes }} class="p-2 p-md-5 ckeditor">
        {{ content.body }}
    </div>

    {{ content.field_tags }}

</article>