<article{{ attributes }} class="p-2 p-md-5">

    <div{{ content_attributes }} class="ckeditor">
        {{ content.body }}
    </div>

    <hr/>

    <div class="ckeditor">
        {{ content.field_introduction_competences }}
    </div>

    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
        {{ content.field_connaissances_techniques|add_suggestion('connaissances-techniques--domaines') }}
    </ul>
    <div class="tab-content">
        {{ content.field_connaissances_techniques|add_suggestion('connaissances-techniques--competences') }}
    </div>

</article>